- let text = 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, rerum.'
include ../../../elements/logo

.footer-desktop-middle
  .inner-container.footer-desktop-middle-container
    .footer-logo
      +logo('white')
    .footer-desktop-middle-content
      p.footer-desktop-middle-content__text= text 


