- 
  let list = [
    {
      img: './img/sprite.svg#check-box',
      text: "правильный ассортимент"
    },
    {
      img: './img/sprite.svg#check-box',
      text: "правильная цена"
    },
    {
      img: './img/sprite.svg#check-box',
      text: "наличие на складе"
    },
  ]

.footer-desktop-bottom 
  .container
    ul.footer-desktop-bottom-list   
      each item in list
        li.footer-desktop-bottom-item 
          .footer-desktop-bottom-item__pic
            i.icon
              svg
                use(xlink:href= item.img)
          span.footer-desktop-bottom-item__text= item.text