- let text = 'Группа компаний "Сатурн" - крупнейший федеральный оператор на рынке строительных и отделочных материалов, включает в себя 49 торговых площадок в 23 городах России. За 20 лет успешной работы компания стала лидером в своем сегменте. В настоящий момент компания поставляет 15 000 наименований товаров на строительные объекты по всей стране.'

include ../../../elements/logo

.footer-desktop-middle
  .inner-container.footer-desktop-middle-container
    .footer-logo
      +logo('white')
    .footer-desktop-middle-content
      p.footer-desktop-middle-content__text= text 


