- let credit = 'ООО "САТУРН", 2016'

.footer-desktop.visible__md
  include ./footer-desktop-top
  include ./footer-desktop-middle
  .footer-desktop-credits
    span= credit
  include ./footer-desktop-bottom