- let title = 'преимущества доставки от сатурна'
- 
  let list = [
    { 
      img: './img/sprite.svg#address-location',
      text: 'Бесплатно или по минимальному тарифу (в «зоне действия единой стоимости доставки»)'
    },
    { 
      img: './img/sprite.svg#address-location',
      text: 'Бережная транспортировка на оборудованных автомобилях'
    },
    { 
      img: './img/sprite.svg#address-location',
      text: 'В удобное для вас время'
    },  
    { 
      img: './img/sprite.svg#address-location',
      text: 'Доставка по Петербургу, области и пригородам'
    }
  ]

article.advantages.visible__md
  .inner-container.inner-container_main
    h2.title.advantages-title= title
    ul.advantages-list
      each item in list
        li.advantages-item
          .advantages-item__icon
            i.icon
              svg
                use(xlink:href= item.img)
          .advantages-item__text
            p!= item.text