- let title = 'преимущества доставки от сатурна'
- 
  let list = [
    { 
      image: './img/icons/star-black.svg',
      text: 'Бесплатно или по минимальному тарифу (в «зоне действия единой стоимости доставки»)'
    },
    { 
      image: './img/icons/star-black.svg',
      text: 'Бережная транспортировка на оборудованных автомобилях'
    },
    { 
      image: './img/icons/star-black.svg',
      text: 'В удобное для вас время'
    },  
    { 
      image: './img/icons/star-black.svg',
      text: 'Доставка по Петербургу, области и пригородам'
    }
  ]

article.advantages.visible__md
  .inner-container.inner-container_main
    h2.title.advantages-title= title
    ul.advantages-list
      each item in list
        li.advantages-item
          .advantages-item__icon
            .pic 
              img(src= item.image)
          .advantages-item__text
            p!= item.text