- let title = 'Доставка'
- 
  let blocks = [
    { text: 'Если ваш адрес входит в «Зону действия единой стоимости доставки» (ЗЕСД), отмеченную <a class="accent" href="/">на карте</a> зеленым цветом, в зависимости от суммы покупки мы доставим товар бесплатно или по фиксированной цене.'},
    { text: 'При сумме заказа от 20 000 руб. стандартная доставка в пределах ЗЕСД осуществляется БЕСПЛАТНО. <br>Если сумма вашего заказа не превышает 20 000 руб., то стоимость стандартной доставки в ЗЕСД - <a class="accent" href="/">фиксирована и зависит от типа транспортного средства</a>'},
    { text: 'Если ваш адрес не входит в ЗЕСД, то узнать стоимость вы можете в разделе <a class="accent" href="/">"Расчет стоимости доставки"</a>, а также по телефонам 8 (812) 322-22-66 или 8 (800) 100-21-12.'}, 
    { text: 'В случае если размеры материалов превышают габаритные размеры заказываемого автомобиля – их необходимо предварительно <a class="accent" href="/">распилить (разрезать)</a>.'},
  ]

article.delivery-info.hidden__md
  .inner-container
    h2.title= title
    each item in blocks
      p.delivery-info__text!= item.text