- let title = 'разгрузка и подъем'
- let text = 'Мы заботимся о наших клиентах и всегда готовы предоставить полный комплекс услуг. Помимо доставки мы можем осуществить разгрузку, пронос и подъем ваших товаров.'
- let question = 'НУЖНО РАЗГРУЗИТЬ И ПОДНЯТЬ ТОВАРЫ?'
- let button = 'подробности'

article.delivery 
  .inner-container
    h2.title= title
    p.text= text