- let title = 'разгрузка и подъем'
- let text = 'Мы заботимся о наших клиентах и всегда готовы предоставить полный комплекс услуг. Помимо доставки мы можем осуществить разгрузку, пронос и подъем ваших товаров.'
- let question = 'нужно разгрузить и поднять товары?'
- let button = 'подробности'

article.delivery 
  .inner-container.inner-container_main
    h2.title= title
    p.text= text