- let title = 'Узнайте стоимость<br> своей доставки<span>&#160;сейчас</span>!'
- let src = './img/car.png'
- let src_desktop = './img/pc.png'
include ../elements/button

article.learn-price
  .inner-container.learn-price__container.inner-container_main
    .learn-price__pic
      .pic.hidden__md
        img(src= src)
      .pic.visible__md
        img(src= src_desktop)
    .learn-price__content
      h2.title!= title
      +button('Рассчитать')(href="/")