- let title = 'узнайте стоимость своей доставки <span>сейчас</span>!'

include ../elements/button

article.learn-price 
  .inner-container.learn-price__container
    .learn-price__pic
      p picture
    .learn-price__content
      h2.title!= title
      +button('рассчитать')(href="/")