- let title = 'Другие услуги'
- 
  let list = [
    {
      href: '/',
      title: 'title 1'
    },
      {
      href: '/',
      title: 'title 2'
    }
  ]

article.services.hidden__md
  .services-container
    h2.title 
    ul.services-list
      each item in list
        li.services-item
          a.services-item__link(href= item.href)
            h3.services-item__title= item.title
