- let title = 'Другие услуги'
- 
  let list = [
    {
      href: '/',
      title: 'title 1',
      image: './img/car.png'
    },
      {
      href: '/',
      title: 'title 2',
      image: './img/car.png'
    },
    {
      href: '/',
      title: 'title 3',
      image: './img/car.png'
    },
      {
      href: '/',
      title: 'title 4',
      image: './img/car.png'
    }
  ]

article.services.hidden__md
  .services-container
    h2.title 
    ul.services-list
      each item in list
        li.services-item
          .services-item__pic   
            .pic 
              img(src= item.image)
          a.services-item__link(href= item.href)
            h3.services-item__title= item.title
