h1,
h2,
h4,
h5,
h6 {
	line-height: 1.2;
	// font-family: $font_black;
	position: relative;
}

h1 {
	font-size: $fz-h1-mobile;

	@media (min-width: $desktop) {
		font-size: $fz-h1-desktop;
	}

	&.title {
		color: $red;
		letter-spacing: 1px;
		font-weight: bold;
		margin-bottom: 25px;
	}
}

h2 {
	font-size: $fz-h2-mobile;

	@media (min-width: $tablet) {
		font-size: $fz-h2-tablet;
	}

	&.title {
		color: #000;
		font-size: $fz-h2-tablet;
		font-weight: bold;

		@media (min-width: $desktop) {
			color: $red;
		}
	}
}

h3 {
	font-size: $fz-h3-mobile;
	line-height: 1.1;

	&.title {
		font-weight: bold;
	}
}

a {
	color: #fff;
	cursor: pointer;
}

p {
	line-height: 1.1;
	@media (min-width: $desktop) {
		font-size: 13px;
	}
}

span {
	font-size: 11px;
}

.accent_text {
	color: $accent_color;
}

.title {
	text-transform: uppercase;
}

.text_special {
	display: inline-block;
	border-bottom: 1px solid $text_color;
	font-size: 12px;
	line-height: 1.4;
}

.watch-link {
	text-transform: uppercase;
	font-size: 12px;
	line-height: 1.4;
	opacity: 0.5;
	transition: opacity 0.32s ease-in-out;
	@media (min-width: $desktop) {
		line-height: 1.2;
	}

	&:hover {
		opacity: 1;
	}
}

.text-link {
	color: $accent_color;
	text-decoration: underline;
	text-underline-offset: 2px;
}

.text_center {
	text-align: center;
}
