- 
  let list = [
    {
      href: "/", 
      text: "акции и новости",
      active: true,
    },
        {
      href: "/", 
      text: "магазины"
    },
        {
      href: "/", 
      text: "услуги"
    },
        {
      href: "/", 
      text: "потребителям"
    }
  ]

nav.menu 
  ul.menu-list 
    each item in list
      if(item.active)
        li.menu-item.active
          a.menu-item__link(href= item.href)
            span= item.text
      else
        li.menu-item  
          a.menu-item__link(href= item.href)
            span= item.text
