form.form.form-subscribe(action="/")
  .form__field.form__field-subscribe
    input.input.input-subscribe(type="email" name="email" placeholder='Ваш email')
  .form__field.form__field-subscribe
    button.button.button-subscribe(type="submit") >