.advantages {
	background-color: #fff;

	&-list {
		display: flex;
		flex-wrap: wrap;
	}

	&-item {
		width: 50%;
		margin-bottom: 20px;
		display: flex;
		align-items: center;
		column-gap: 18px;
		padding-right: 40px;

		&__icon {
			border-radius: 50%;
			flex-basis: 52px;
			height: 52px;
			border: 1px solid #acacac;
			padding: 10px;
			flex-grow: 0;
			flex-shrink: 0;
			display: flex;
			justify-content: center;

			& .icon {
				width: 25px;
				height: 25px;
			}
		}

		&__text {
			& p {
				font-size: 14px;
			}
		}
	}

	&-title {
		margin-bottom: 30px;
	}
}
