.first-screen {
	background-color: #fff;
	padding-bottom: 70px;
	&-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&-slider__item {
		display: flex;
	}

	&-list {
		display: flex;
		flex-direction: column;
		width: 225px;
		padding: 20px 0;
	}

	&-item {
		padding: 10px 10px 10px 25px;
		&__link {
			color: #010101;
			font-size: 13px;
		}

		&.active {
			background-color: #00152c;

			& .first-screen-item__link {
				color: #fff;
			}
		}
	}

	&-slider {
		width: 100%;
		padding-right: 25px;

		&__item-content {
			width: 50%;

			& p {
				line-height: 2;
				font-size: 14px;
			}
		}

		&__item-pic {
			width: 50%;
		}
	}
}
