.footer {
	background-color: $blue;
	color: #fff;

	&-desktop {
		display: flex;
		flex-direction: column;
		&-top {
			margin-bottom: 20px;
			&-container {
				display: flex;
				justify-content: space-between;
				column-gap: 30px;
			}
		}
		&-middle {
			margin-bottom: 10px;
			&-container {
				display: flex;
				align-items: center;
			}
		}
		&-credits {
			text-align: center;
		}
		&-bottom {
			width: 100%;
			padding: 25px 0;
			&-list {
				display: flex;
				justify-content: space-between;
			}
			&-item {
				color: #fff;
				text-transform: uppercase;
			}
		}
	}

	&-menu {
		display: flex;
		justify-content: space-between;
		flex: auto;
		padding-top: 40px;

		&-item {
			margin-bottom: 5px;
			& span {
				font-size: 13px;
			}
		}
	}
}
