.footer {
	background-color: $blue;
	color: #fff;

	@media (min-width: $desktop) {
		-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
		-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
		box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
		background: rgb(6, 37, 74);
		background: linear-gradient(180deg, rgba(6, 37, 74, 1) 0%, rgba(2, 21, 41, 1) 57%);
	}

	&-desktop {
		display: flex;
		flex-direction: column;

		&-top {
			margin-bottom: 20px;
			&-container {
				display: flex;
				justify-content: space-between;
				column-gap: 30px;
				padding: 0 10px;
			}
		}

		&-middle {
			margin-bottom: 10px;
			&-container {
				display: flex;
				align-items: center;
				column-gap: 30px;
			}

			&-content {
				&__text {
					font-size: 13px;
					line-height: 1.5;
				}
			}
		}

		&-credits {
			text-align: center;
			margin-bottom: 20px;
			& span {
				font-size: 14px;
			}
		}

		&-bottom {
			width: 100%;
			padding: 25px 0;
			background-color: #021223;

			&-list {
				display: flex;
				justify-content: space-between;
			}

			&-item {
				display: flex;
				align-items: center;

				&__pic {
					height: 40px;
					width: 40px;
					display: flex;
					justify-content: space-between;
					align-items: center;
					margin-right: 15px;
					& .icon {
						height: 40px;
						width: 40px;
					}
				}
				& span {
					font-size: 16px;
					color: #fff;
					text-transform: uppercase;
				}
			}
		}
	}

	&-mobile {
		&-top {
			padding: 15px 0;
			display: flex;
			justify-content: space-between;
			border-bottom: 1px solid #636d8b;
		}

		&-bottom {
			padding: 15px 0;
			flex-wrap: wrap;
			justify-content: space-between;
			display: flex;

			&__item {
				width: 50%;
				margin-bottom: 14px;

				&:nth-child(3),
				&:nth-child(4) {
					margin-bottom: 0;
				}
			}

			&__link {
				text-decoration: underline;
				text-underline-offset: 2px;
				font-size: 14px;
			}
		}
	}

	&-menu {
		display: flex;
		justify-content: space-between;
		flex: auto;
		padding-top: 40px;
		width: 79%;

		&-item {
			margin-bottom: 5px;
			& span {
				font-size: 13px;
				line-height: 1.8;
			}
		}

		&-block {
			margin-bottom: 20px;
			&__title {
				font-size: 19px;
				margin-bottom: 10px;
				text-transform: uppercase;
			}

			&:last-of-type {
				margin-bottom: 0;
			}
		}

		&-column {
			width: 22.3%;
		}
	}

	&-info {
		margin-top: -10px;
		width: 19%;
	}

	&-subscribe {
		margin-bottom: 20px;
		background-color: #fff;
		border-radius: 0 0 5px 5px;
		padding: 15px 10px 30px;

		@media (min-width: $desktop) {
			-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
			-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
			box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
		}

		&__text {
			color: #000;
		}
	}

	&-social {
		margin-bottom: 45px;
		padding: 0 10px;
		&__title {
			margin-bottom: 15px;
		}

		&-list {
			display: flex;
			justify-content: space-between;
		}

		&-item {
			width: 35px;
			height: 35px;
			background-color: #fff;
			border-radius: 2px;
		}

		&-link {
			width: 100%;
			height: 100%;
			align-items: center;
			justify-content: center;
			display: flex;
		}
	}

	&-numbers {
		&__text {
			margin-bottom: 15px;
			line-height: 1.5;
		}

		&__item {
			display: flex;
			& span {
				font-size: 19px;
				font-weight: bold;
				line-height: 1.5;
			}
		}
	}

	&-logo {
		width: 19%;
		flex-grow: 0;
		flex-shrink: 0;
	}

	&-payment {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 20px;
		column-gap: 14px;
		&__card {
			border-radius: 3px;
			border: 2px solid #fff;
			background-color: #fff;
			width: 56px;
			height: 37px;
			margin-bottom: 10px;
			padding: 2px;
			flex-grow: 0;
			flex-shrink: 0;

			&:nth-child(3),
			&:nth-child(4) {
				margin-bottom: 0;
			}
		}
	}

	&-sitemap {
		display: flex;
		align-items: flex-end;

		&__pic {
			width: 25px;
			margin-right: 12px;

			& .icon {
				width: 25px;
				height: 20px;
			}
		}

		&__link {
			& span {
				text-decoration: underline;
				text-transform: uppercase;
				font-size: 12px;
				text-underline-offset: 2px;
			}

			&:hover {
				& span {
					text-decoration: none;
				}
			}
		}
	}
}
