.header {
	@media (min-width: $desktop) {
		border-top: 1px solid #183457;
	}

	&-top {
		padding: 7px 0;
		background-color: $bg_alt_color;
		border-bottom: 1px solid #f1f0f0;
		display: flex;
		justify-content: flex-end;
		@media (min-width: $desktop) {
			background-color: transparent;
			border-bottom: none;
			flex-direction: row;
		}
	}

	&-main {
		padding: 10px 0;
		background-color: $bg_color;
		@media (min-width: $desktop) {
			border-radius: 5px 5px 0 0;
		}

		&__container {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}

	&-bottom {
		padding: 0 0 10px 0;
		background-color: $bg_color;
		@media (min-width: $desktop) {
			border-radius: 5px 5px 0 0;
		}

		&__container {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}

	&-logo {
		max-width: 140px;
	}

	&-search {
		@media (min-width: $desktop) {
			order: 2;
		}
	}

	&-catalog {
		@media (min-width: $desktop) {
			order: 1;
		}
	}

	&-menu {
		@media (min-width: $desktop) {
			order: 3;
		}
	}
}
