.learn-price {
	background-color: #fff;
	background-size: contain;
	background-position: 50%;
	background-image: none;
	background-repeat: no-repeat;
	padding: 0px 0 20px;
	@media (min-width: $desktop) {
		padding: 50px 0;
		background-image: url(../img/learn-price-bg.png);
	}
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__pic {
		width: 60%;
		@media (min-width: $desktop) {
			width: 55%;
		}
	}
	&__content {
		width: 40%;
		text-align: right;
		@media (min-width: $desktop) {
			text-align: left;
			width: 45%;
		}
	}

	& .title {
		color: #000;
		font-size: 14px;
		text-align: right;
		text-transform: none;
		margin-bottom: 20px;
		@media (min-width: $desktop) {
			text-transform: uppercase;
			font-size: 20px;
			text-align: left;
			font-weight: 600;
			line-height: 1.6;
			letter-spacing: 2.9px;
		}

		& span {
			display: none;
			font-weight: 600;
			@media (min-width: $tablet) {
				display: inline-block;
				text-transform: uppercase;
				font-size: 20px;
			}
		}
	}
}
