extends ../layout/base-layout.pug

block content 
  img(src='../../img/logo.svg')
  //- include ../blocks/first-screen
  //- include ../blocks/advantages
  //- include ../blocks/first-screen
  //- include ../blocks/advantages
  //- include ../blocks/advantages