- 
  let list = [
    {
      href: "/",
      text: '8 (812) 322-22-66'
    },
    {
      href: "/",
      text: 'Обратная связь'
    },
    {
      href: "/",
      text: 'Санкт-Петербург'
    },
    {
      href: "/",
      text: 'Полная версия сайта'
    }
  ]

.footer-mobile-bottom
  each item in list
    .footer-mobile-bottom__item
      a.footer-mobile-bottom__link(type='tel' href= item.href)= item.text