-
  let item = {
    text: "оплата заказа картой",
    href: "/",
    img: './img/sprite.svg#card',
  }

.footer-mobile-top
  a.link(href= item.href)= item.text
  .footer-mobile-top__pic
    i.icon
      svg
        use(xlink:href= item.img)