doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body.body
    div.wrapper
      include ../blocks/header
      include ../blocks/breadcrumbs
      main.main
        block content
      include ../blocks/footer