- 
  let list = [
    {
      text: 'Главная', 
      link: '/'
    },
    {
      text: 'Покупателям', 
      link: '/'
    },
    {
      text: 'Доставка'
    }
  ]

.breadcrumbs 
  .inner-container.breadcrumbs__container
    ul.breadcrumbs-list
      each item in list
        li.breadcrumbs-item
          if(item.link)
            a.breadcrumbs-item__link(href= item.link)= item.text
          else 
            p.breadcrumbs-item__page= item.text