.header-bottom
  .inner-container.header-bottom__container
    .header-search 
      include ../../elements/form
    .header-catalog
      p каталог
    .header-menu.visible__md
      include ../../elements/menu