- let name = 'Артур Пирожков'
- let href = "tel:88123222266"
- let phone = "8 (812) 322-22-66"

.header-top 
  .inner-container
    .hidden__md
      a.header-top__number(type="tel" href= href)
        span= phone
    .visible__md.header-account
      .header-top-icons
        .header-liked
          //- .pic
          //-   img(src='./img/icons/star.svg')
          //-   .header-amount__icon
          //-     span 20
          i.icon.icon-user
            svg
              use(xlink:href="./img/sprite.svg#facebook-icon")
        .header-saved 
          .pic
            img(src='./img/icons/star.svg')
            .header-amount__icon
              span 20
      .header-user 
        a.user-name(href='/')= name 
        .header-amount__icon
          span 2
      