.header-main
  .inner-container.header-main__container
    .header-burger.hidden__md
      p burger 
    .header-logo 
      include ../../elements/logo
    .header-bucket.hidden__md
      p корзина
    .header-info.visible__md
      p menu
