extends ./pug/layout/base-layout.pug

block content 
  .container
    include ./pug/blocks/delivery-info
    include ./pug/blocks/first-screen
    include ./pug/blocks/advantages
    include ./pug/blocks/learn-price
    include ./pug/blocks/types    
    include ./pug/blocks/delivery

