extends ./pug/layout/base-layout.pug

block content 
  include ./pug/blocks/first-screen
  include ./pug/blocks/advantages
  include ./pug/blocks/learn-price
  include ./pug/blocks/types    
  include ./pug/blocks/delivery

