form.form {
	display: flex;
	flex-direction: column;
	position: relative;

	& .form__field {
		position: relative;

		& input.input {
			padding: 7px 10px;
			width: 100%;
			line-height: 1;
			border: 1px solid #dbdbdb;
			background-color: #fafafa;
			cursor: pointer;
			background-image: url(../img/icons/star-black.svg);
			background-size: 18px;
			background-repeat: no-repeat;
			background-position: 95% 50%;
			&:focus {
				outline: none;
			}

			&:focus ~ .bar::before,
			&:focus ~ .bar::after {
				width: 50%;
			}

			&::placeholder {
				color: #000;
			}
		}

		& label {
			font-weight: normal;
			position: absolute;
			pointer-events: none;
			left: 0;
			top: 0;
			transition: 0.2s ease all;
			color: rgba(255, 255, 255, 0.6);
		}

		& textarea.textarea {
			padding: 15px;
			width: 100%;
			min-height: 110px;
			border-radius: 8px;

			& ~ label {
				top: -20px;
			}
		}

		& .bar {
			position: relative;
			display: block;
			width: 100%;
			&::before,
			&::after {
				content: "";
				height: 1px;
				width: 0;
				bottom: 1px;
				position: absolute;
				transition: 0.2s ease all;
			}
			&::before {
				left: 50%;
			}
			&::after {
				right: 50%;
			}
		}
	}
}
