- 
  let item = {
    img: './img/sprite.svg#domain-www',
    text: 'карта сайта',
    href: '/'
  }

.footer-sitemap 
  .footer-sitemap__pic
    i.icon
      svg
        use(xlink:href= item.img)
  a.footer-sitemap__link(href= item.href)
    span= item.text