- let title = 'магазины'
- 
  let list = [
    {
      href: '/',
      text: 'Сухие смеси, грунты'
    },
    {
      href: '/',
      text: 'Гидро- и тепло- изоляция'
    },
        {
      href: '/',
      text: 'Гипсокартон'
    },
    {
      href: '/',
      text: 'Двери, окна, фурнитура'
    },
        {
      href: '/',
      text: 'Пиломатериалы'
    },
    {
      href: '/',
      text: 'Кровля, водосток'
    },
        {
      href: '/',
      text: 'Лаки, краски, герметики'
    },
    {
      href: '/',
      text: 'Отделочные материалы'
    },
            {
      href: '/',
      text: 'Общестроительные'
    },
    {
      href: '/',
      text: 'Сантехника, вентиляция'
    },
        {
      href: '/',
      text: 'Электротехника'
    },
    {
      href: '/',
      text: 'Инструменты, оснастка'
    },
        {
      href: '/',
      text: 'Метизы, крепеж'
    },
    {
      href: '/',
      text: 'Спецодежда и хоз. товары'
    }
  ]



.footer-menu-block
  p.footer-menu-block__title= title
  ul.footer-menu-list
    each item in list
      li.footer-menu-item 
        a(href= item.href)
          span= item.text
