- let text = 'У вас остались вопросы?<br>Позвоните нам!'
- 
  let numbers = [
    {
      href: 'tel:88123222266',
      number: '8 (812) 322-22-66'
    },
    {
      href: 'tel:88001002112',
      number: '8 (800) 100-21-12'
    }
  ]

.footer-numbers
  p.footer-numbers__text!= text
  each item in numbers
    a.footer-numbers__item(type='tel' href= item.href)
      span= item.number