- let title = 'магазины'

- 
  let list = [
    {
      href: '/',
      text: 'Литовская ул., 15'
    },
    {
      href: '/',
      text: 'Индустриальный пр., 71'
    },
    {
      href: '/',
      text: 'Лахтинский пр., 139'
    },
    {
      href: '/',
      text: 'Касимовская ул., 3'
    },
    {
      href: '/',
      text: 'Хрулева ул., 12'
    },
    {
      href: '/',
      text: 'Краснопутиловская ул, 31'
    }
  ]



.footer-menu-block
  p.footer-menu-block__title= title
  ul.footer-menu-list
    each item in list
      li.footer-menu-item 
        a(href= item.href)
          span= item.text
