- let title = 'аккаунт'
- 
  let list = [
    {
      href: '/',
      text: 'Профиль'
    },
    {
      href: '/',
      text: 'Заказы'
    },
    {
      href: '/',
      text: 'История заказов'
    },
    {
      href: '/',
      text: 'Черновики заказа'
    },
        {
      href: '/',
      text: 'Баланс САТов'
    }
  ]


.footer-menu-block
  p.footer-menu-block__title= title
  ul.footer-menu-list
    each item in list
      li.footer-menu-item 
        a(href= item.href)
          span= item.text