- 
  let list = [
    {
      image: './img/card-1.png'
    },
        {
      image: './img/card-2.png'
    },
        {
      image: './img/card-3.png'
    },
        {
      image: './img/card-4.png'
    }
  ]

.footer-payment  
  each item in list
    .footer-payment__card
      .pic 
        img(src= item.image)